<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img href="#" src="{{urlBackend}}/images/logoLeones.jpg" alt="sin foto" style="width: 50px; "> 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Clientes <span class="sr-only"></span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/monitor/0']">Monitor</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="authService.hasUsuario('admin')">
          <a class="nav-link" [routerLink]="['/usuarios/page/0']">Usuarios</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="authService.hasUsuario('admin')">
          <a class="nav-link" [routerLink]="['/estadisticas']">Estadisticas</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="authService.hasUsuario('admin')">
          <a class="nav-link" [routerLink]="['/historial/page/0']">Historial</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="authService.hasUsuario('admin')">
          <a class="nav-link" [routerLink]="['/registros/page/0']">Registros</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="authService.hasUsuario('admin')">
          <a class="nav-link" [routerLink]="['/operaciones/page/0']">Operaciones</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li *ngIf="!authService.isAuthenticated()"><a [routerLink]="['/login']" class="btn btn-outline-primary">Login</a></li>
       
        <li *ngIf="authService.isAuthenticated()" class="dropdown">
          <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{authService.usuario.username}}
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <button (click)="logout()" class="dropdown-item" type="submit">Cerrar</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>