<app-detalleventa *ngIf="usuarioSeleccionado" [usuario]="usuarioSeleccionado"></app-detalleventa>

<div class="card border-primary mb-3">
    <div class="card-header">Usuarios</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Lista de usuarios</h5>
      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/usuarios/form']">Registrar Usuario</button>
      </div>
      <div *ngIf="usuarios?.length == 0" class="alert alert-info">
        No hay registros en la base de datos!
      </div>

      <table class="table table-bordered table-striped" *ngIf="usuarios?.length>0">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>User</th>
                <th>Tipo</th>
         <!--       <th>Editar</th> -->
                <th *ngIf="authService.hasUsuario('admin')">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios">
                <td><button type="button" (click)="abrirModal(usuario)" name="modal" class="btn btn-primary btn-sm">Detalle</button></td> 
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellidos }}</td>
                <td>{{ usuario.username }}</td>
                <td><span *ngFor="let role of usuario.roles">{{role.nombre + ' '}}</span></td>
       <!--         <td>
                    <button type="button" name="button" [routerLink]="['/usuarios/form', usuario.id]" class="btn btn-primary btn-sm">Editar</button>
                </td>-->
                <td *ngIf="authService.hasUsuario('admin')">
                    <button [disabled]="usuario.username == 'admin'" type="button" name="eliminar" (click)='delete(usuario)' class="btn btn-danger btn-sm">Eliminar</button>
                </td>
            </tr>
        </tbody>
      </table>
      <app-paginatorusuarios *ngIf="paginador" [paginador] = "paginador"></app-paginatorusuarios>
    </div>
</div>
