<div class="text-dark col-sm-12">
    <div class="form-group row py-2">
        {{information}}
        <div class="col-sm-6">
            <zxing-scanner *ngIf="scannerEnabled" #scanner (scanSuccess)="scanSuccessHandler($event)">
            </zxing-scanner>
        </div>
        <div class="col-sm-6">
         <!--  <img href="#" src="{{urlBackend}}/images/logoLeones.jpg" alt="sin foto" style="width: 350px; "> -->
        </div>
    </div>

</div>

<div>
    <div class="card bg-dark text-white col-sm-10">
    <div class="form-group row py-2">
        <label for="numcontrol" class="col-form-label col-sm-4">O ingrese su numero de registro</label>
        <div class="col-sm-4">
            <input type="text" [(ngModel)]="numControl" class="form-control" (keyup.enter)='buscarPorNumero($event)'>
        </div>
    </div>
    </div>
</div>